{
    "plugins": ["react"],
    "rules": {
        "no-array-constructor": 2,
        "no-catch-shadow": 2,
        "no-comma-dangle": 2,
        "no-cond-assign": 2,
        "no-constant-condition": 2,
        "no-control-regex": 2,
        "no-div-regex": 1,
        "no-else-return": 2,
        "no-empty-class": 2,
        "no-empty-label": 2,
        "no-eq-null": 2,
        "no-extend-native": 2,
        "no-extra-boolean-cast": 2,
        "no-extra-strict": 2,
        "global-strict": [2, "always"],
        "no-inner-declarations": [2, "functions"],
        "no-iterator": 2,
        "no-labels": 2,
        "no-lone-blocks": 2,
        "no-lonely-if": 2,
        "no-loop-func": 2,
        "no-mixed-requires": [0, false],
        "no-negated-in-lhs": 2,
        "no-nested-ternary": 2,
        "no-new-require": 2,
        "no-octal-escape": 2,
        "no-path-concat": 1,
        "no-process-exit": 2,
        "no-proto": 2,
        "no-redeclare": 2,
        "no-regex-spaces": 2,
        "no-restricted-modules": 1,
        "no-script-url": 2,
        "no-sequences": 2,
        "no-shadow": 1,
        "no-shadow-restricted-names": 2,
        "no-spaced-func": 2,
        "no-space-before-semi": 2,
        "no-sparse-arrays": 2,
        "no-sync": 0,
        "no-undef": 2,
        "no-unused-expressions": 2,
        "no-unused-vars": [2, {"vars": "all", "args": "after-used"}],
        "no-warning-comments": [0, { "terms": ["todo", "fixme", "xxx"], "location": "start" }],
        "no-wrap-func": 2,
        "yoda": 2,

        "block-scoped-var": 2,
        "brace-style": [2, "1tbs", { "allowSingleLine": true }],
        "consistent-return": 2,
        "consistent-this": [0, "self", "TODO: add this options, remove this value in array"],
        "curly": [2, "all"],
        "default-case": 0,
        "func-names": 0,
        "func-style": [0, "declaration"],
        "max-depth": [0, 4],
        "max-len": [0, 80, 4],
        "max-nested-callbacks": [0, 2],
        "handle-callback-err": 0,
        "one-var": 0,
        "sort-vars": 0,
        "space-after-keywords": [2, "always"],
		"space-in-brackets": [0, "never"],
        "space-infix-ops": 2,
        "space-return-throw-case": 2,
        "strict": 2,
        "valid-typeof": 2,
        "wrap-regex": 0,

        "no-alert": 2,
        "no-caller": 2,
        "no-bitwise": 0,
        "no-console": 0,
        "no-underscore-dangle": 0,
        "no-debugger": 2,
        "no-dupe-keys": 2,
        "no-empty": 2,
        "no-eval": 2,
        "no-ex-assign": 2,
        "no-extra-parens": 0,
        "no-extra-semi": 2,
        "no-floating-decimal": 1,
        "no-func-assign": 2,
        "no-invalid-regexp": 2,
        "no-implied-eval": 2,
        "no-with": 2,
        "no-fallthrough": 2,
        "no-unreachable": 2,
        "no-undef-init": 2,
        "no-octal": 2,
        "no-obj-calls": 2,
        "no-new-wrappers": 2,
        "no-new": 2,
        "no-new-func": 2,
        "no-native-reassign": 2,
        "no-plusplus": 0,
        "no-delete-var": 2,
        "no-return-assign": 2,
        "no-new-object": 2,
        "no-label-var": 2,
        "no-ternary": 0,
        "no-self-compare": 2,
        "no-use-before-define": 0,
        "valid-jsdoc": 0,
        "eol-last": 0,
		"no-trailing-spaces": 0,
		"no-extra-bind": 2,

        "camelcase": 0,
        "dot-notation": 2,
        "eqeqeq": 2,
        "new-parens": 2,
        "guard-for-in": 2,
        "radix": 0,
        "new-cap": 2,
        "semi": 2,
        "use-isnan": 2,
        "quotes": [1, "single", "avoid-escape"],
        "max-params": [0, 3],
        "max-statements": [0, 10],
        "complexity": [0, 11],
        "wrap-iife": 2,
        "no-multi-str": 2,

        "quote-props": [1, "as-needed"],
        "no-multi-spaces": 1,
        "key-spacing": [1, { "beforeColon": false, "afterColon": true }],
        "comma-spacing": 1,
        "space-unary-ops": [1, { "words": true, "nonwords": false }],
        "indent": [2, 4],
        "space-before-function-paren": [1, {"anonymous": "always", "named": "never"}],

        "react/display-name": 2,
        "react/jsx-quotes": 1,
        "react/jsx-no-undef": 1,
        "react/jsx-sort-props": 1,
        "react/jsx-uses-react": 1,
        "react/jsx-uses-vars": 1,
        "react/no-did-mount-set-state": 1,
        "react/no-did-update-set-state": 1,
        "react/no-multi-comp": 0,
        "react/no-unknown-property": 1,
        "react/prop-types": 1,
        "react/react-in-jsx-scope": 1,
        "react/self-closing-comp": 1,
        "react/wrap-multilines": 1
    },
    "env": {
        "browser": false,
        "node": true,
        "amd": true
    },
    "globals": {
        "requirejs": true
    }
}
