{
    "extends": "wix-editor",
    "plugins": ["lodash3", "wix-editor"],
    "rules": {
        "strict": [2, "global"],
        "no-restricted-syntax": [2, "WithStatement"],
        "no-negated-condition": 1,
        "lodash3/prop-shorthand": 2,
        "lodash3/matches-prop-shorthand": 2,
        "lodash3/prefer-chain": 2,
        "lodash3/preferred-alias": 2,
        "lodash3/no-single-chain": 2,
        "lodash3/prefer-reject": 2,
        "lodash3/prefer-filter": 2,
        "lodash3/no-unnecessary-bind": 2,
        "lodash3/unwrap": 2,
        "lodash3/prefer-compact": 2,
        "lodash3/no-double-unwrap": 2,
        "lodash3/prefer-map": 2,
        "lodash3/prefer-wrapper-method": 2,
        "lodash3/prefer-invoke": 2,
        "lodash3/prefer-thru": 2,
        "lodash3/prefer-lodash-method": 0,
        "lodash3/prefer-lodash-typecheck": 1,
        "lodash3/no-commit": 1,
        "lodash3/prefer-get": [2, 3],

        "wix-editor/augmented-assignment": 1,
        "wix-editor/no-not-not": 1,
        "wix-editor/no-unneeded-match": 1,
        "wix-editor/prefer-filter": 1,
        "wix-editor/prefer-ternary": 1,
        "wix-editor/return-boolean": 1,
        "wix-editor/simplify-boolean-expression": 1
    },
    "env": {
        "browser": false,
        "node": true,
        "amd": true
    },
    "globals": {
        "requirejs": true
    }
}
