node_modules/**
bower_components/**
**/*.rt.js
**/*.json.js

playground/**/*.rt.js
playground/dist/**
playground/libs/**

playground3/**
playground3/dist/**
playground3/libs/**
playground3/**/*.rt.js

web/**

playground/sample/**
test/data/**
dist-test
dist

internalTasks/release.js
playground.config.js
sample/InfiniteScroll.js
/coverage
