
### Operating systems ###
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

### Regular dev ###
node_modules
npm-debug.log
.idea
*.iml

### bower ###
/bower_components/*

### babel ###
/dist
/dist-test

/web
/target
/coverage
/.nyc_output

### Test Output ###
test/data/**/*.rt.actual.js
test/data/**/*.code.js
test/data/**/*.actual.html
/package-lock.json
/yarn.lock
/yarn-error.log
