
### Operating systems ###
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

### Regular dev ###
node_modules
npm-debug.log
.idea
*.iml

### bower ###
/bower_components/*

/web
/target
/coverage

### Test Output ###
test/data/**/*.rt.actual.js

### generated code output ###
test/data/*.code.js
