language: node_js
node_js:
  - 0.10
  - 0.12
  - iojs

sudo: false

before_script:
  - npm install -g grunt-cli

install:
  - npm install

script:
  - grunt eslint
  - npm run test-cov

branches:
  only:
    - gh-pages
#after_success:
#    - npm run coveralls

after_success:
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js