{
    "rules": {
        "strict": [2, "function"],
        "no-var": 0,
        "object-shorthand": 0
    },
    "env": {
        "browser": true,
        "node": true,
        "amd": true
    },
    "globals": {
        "requirejs": true
    }
}
