.imgContainer {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.fixed {
    height: calc(553px - 53px);
    overflow-y: auto;
    overflow-x: hidden;
}

.fixed > div {
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.searchbox {
    text-align:center;
    height: 53px;
}

.container {
    display: block;
    background-color: gray;
    position: relative;
    margin: 0 10px 10px 0;
}

@-webkit-keyframes fadeInDown{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,-50%,0);
        transform:translate3d(0,-50%,0)
    }

    100%{
        opacity:1;
        -webkit-transform:none;
        transform:none
    }

}

@keyframes fadeInDown{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,-50%,0);
        -ms-transform:translate3d(0,-50%,0);
        transform:translate3d(0,-50%,0)
    }

    100%{
        opacity:1;
        -webkit-transform:none;
        -ms-transform:none;
        transform:none
    }

}

.fadeInDown{
    -webkit-animation:fadeInDown 1s;
    animation:fadeInDown 1s;
}

.title {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    opacity: 0;
    position: absolute;
    bottom:0;
}

.container:hover .title {
    opacity: 1;
    transition: opacity 0.75s;
}
