.hidden {
    display:none;
}

.large-text-area {
    width:600px;
    height:300px;
}

.code-area {
    width:620px;
    height:620px;
    float:left;
}

.result-area {
    width: 400px;
    height: 600px;
    float:left;
}
