.hidden {
    display:none;
}

.large-text-area {
    height:300px;
    margin: 10px;
}

.code-area {
    width: 50%;
    height:620px;
    float:left;
}

.result-area {
    width: 50%;
    height: 620px;
    float:left;
}

.sample-view {
    margin:10px;
}